$dk_grey: #333333
$lt_grey: #ececec
$very_lt_grey: #fbfcfc
$nav_links: #999
$nav_link_hover: #333
$hero: #fff
$base_title_font: Bebas
$Col3BodyFont: 'Cormorant Garamond', serif
$base_title_font_size: 2em
$hero_letter_spacing: .4em
$base_font_size: 14px
$values_font_size: $base_font_size*1.5
$values_color: #444

@import "normalize"


html
	margin: 0
	padding: 0

body
	margin: 0px 30px
	font-family: Helvetica, sans-serif
	font-size: $base_font_size
	header
		.header-container
			display: flex
			flex-direction: row
			height: 70px
			width: 100%
			background-color: $lt_grey
			border-top: 4px solid $dk_grey
			justify-content: flex-end
			.navigation
				margin-top: 30px
				flex-basis: 50%
				text-align: right
				a
					text-transform: uppercase
					text-decoration: none
					font-family: Bebas, sans-serif
					color: $nav_links
					margin-right: 30px
					&:hover
						color: $nav_link_hover
		.logo-coy-name
			flex-basis: 45%
			font-size: 1.5em
			padding-top: 20px
		
	.hero-container
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		height: 50vh
		width: 60vw
		margin: 30px auto 50px
		background-image: url(img/hero.jpg)
		background-size: cover
		.hero-title
			color: $hero
			font-family: $base_title_font
			font-size: $base_title_font_size
			letter-spacing: $hero_letter_spacing
			border: solid $hero 10px
			padding: 20px 30px
		.hero-kicker
			color: $hero
			font-family: $base_title_font
			font-size: $base_title_font_size/1.5
			margin-top: 20px
	
	
	.Col_3_Container
		.section-title
			font-family: $base_title_font
			font-size: $values_font_size
			color: $values_color
			overflow: hidden
			text-align: center
			margin-bottom: 30px
			&:before, &:after
				background-color: $values_color
				content: ""
				display: inline-block
				height: 2px
				position: relative
				vertical-align: middle
				width: 10%
			&:before
				right: 0.5em
				margin-left: -50%
			&:after
				left: 0.5em
				margin-right: -50%
		.section-heading
			font-family: $base_title_font
			font-size: $values_font_size/1.1
			color: $values_color
			text-align: left
			padding-left: 20px
		.section-list
			background-color: $lt_grey
			display: flex
			flex-flow: row wrap
			align-items: center
			justify-content: center
			width: 60vw
			margin: 30px auto 20px
			.section-cell
				align-self: flex-start
				width: 30%
				font-family: $Col3BodyFont
				p
					padding: 0 20px
					text-align: justify

#AboutUs > .section-list
	background: #333333
	color: $lt-grey
	font-size: $base_font_size * 1.75
	padding-top: 40px
	padding-bottom: 80px
	p
		text-align: center
	.section-cell
		width: 90%

#AboutUsLogoContainer
	display: flex
	flex-flow: row nowrap
	justify-content: center
	align-items: center
	.section-list
		margin: 0
		.section-cell
			text-align: center
		
	
	
	
	
